//main-css
.container {
	max-width: 1430px;
	margin: 0 auto;
	width: 96%;
}

header {
	position: absolute;
	width: 100%;
}

.main-menu {
	background: rgba(254, 210, 71, .8);
	padding: 13px 0;
	ul {
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		max-width: 610px;
		margin-left: auto;
	}
	a {
		text-transform: uppercase;
		font-size: 17px;
		color: #000;
		font-weight: 900;
		@include transition();
		&:hover {
			color: #fff;
		}
	}
	li {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.logo-block {
	background: rgba(0, 0, 0, .5);
	padding: 20px 0;
	.custom-logo-link {
		max-width: 125px;
		display: block;
	}
	img {
		@include transition();
		opacity: 1;
		&:hover {
			opacity: .7;
		}
	}
}

.btn {
	font-size: 21px;
	font-weight: 900;
	background: #fed247;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
	@include transition();
	&:hover {
		color: #fed247;
		background: #fff;
	}
}

.hero-img-block {
	text-align: center;
	padding: 210px 0 0px 0;
	min-height: 1025px;
	.text-hero {
		margin: 0 66px 70px;
		h4 {
			margin-bottom: 10px;
		}
	}
	form {
		font-size: 0;
		border: 2px solid #fff;
		border-radius: 5px;
		width: 415px;
		max-width: 100%;
		margin: 0 auto 45px;
		@include flexbox();
		background: #fff;
	}
	input {
		padding: 10px;
	}
	input[type="email"] {
		width: 100%;
		font-size: 17px;
	}
	.email {
		font-size: 0;
		height: 0;
	}
	input[type="submit"] {
		height: 100%;
		min-width: 125px;
	}
	.email-send {
		max-width: 560px;
		margin: 190px auto 0;
		padding: 55px 0 115px;
	}
	.form-text {
		color: #fff;
		font-size: 17px;
		max-width: 465px;
		margin: 0 auto;
		line-height: 1.6;
	}
}

h4 {
	text-transform: uppercase;
	color: #fed247;
	font-weight: 900;
	font-size: 29px;
}

h1 {
	font-weight: 900;
	font-size: 94px;
	text-transform: uppercase;
	color: #fff;
}

h3 {
	color: #fff;
	font-weight: 900;
	font-size: 54px;
}

h5 {
	font-weight: 900;
	font-size: 27px;
}

h2 {
	color: #fff;
	font-weight: 900;
	font-size: 84px;
	line-height: 1.3;
}

.insig {
	background: #fed247;
	padding: 70px 0 100px;
	text-align: center;
	h3 {
		margin-bottom: 25px;
	}
	p {
		font-size: 21px;
		line-height: 1.3;
	}
	.insig-text {
		margin: 0 auto 60px;
		max-width: 1075px;
	}
	.flex-block {
		@include flexbox();
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		text-align: left;
			@include for-size(1240px) {
				text-align: center;
			}
	}
	.flex-item {
		@include flex-basis(32%);
		width: 32%;
		margin-bottom: 10px;
		@include flexbox();
					@include for-size(1240px) {
					@include flex-wrap(wrap);
						@include justify-content(center);

		}
	
		figure {
			background: #000;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			padding: 20px;
			margin-right: 15px;
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
							@include for-size(1240px) {
								margin-right: 0;
							}
	
			img{
				@include for-size(1440px) {
					max-width: none;
				}
			}
		}
		.flex-item-text {
			margin-top: 10px;
			h5 {
				margin-bottom: 15px;
				color: #fff;
			}
			p {
				max-width: 320px;
				font-weight: 500;
				font-size: 17px;
			}
		}
	}
}

.bulding {
	text-align: center;
	padding: 115px 0 95px;
	.text-buld {
		max-width: 1070px;
		margin: 0 auto;
	}
	p {
		font-size: 21px;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		color: #fed247;
		margin-bottom: 30px;
	}
}

footer {
	background: #363636;
	text-align: center;
	padding: 90px 0 50px;
		@include for-size(1024px) {
			padding: 50px 0 20px;
		}
	
	color: #fff;
	.top-footer {
		max-width: 940px;
		margin: 0 auto;
		padding-bottom: 90px;
			@include for-size(1024px) {
			padding-bottom: 50px;
		}
		ul {
			@include flexbox();
			@include justify-content(space-between);
			@include align-items(center);
			@include flex-wrap(wrap);
		}
		a {
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 24px;
						@include for-size(768px) {
				font-size: 20px;
		}
			@include transition();
			&:hover {
				color: #fed247;
			}
		}
		li {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.bottom-footer {
		font-size: 13px;
		p {
			margin-bottom: 15px;
		}
		a {
			color: #fed247;
			@include transition();
			&:hover {
				color: darken(#fed247, 30%);
			}
		}
		span {
			margin-right: 20px;
		}
	}
}

.full-container {
	max-width: 1920px;
	margin: 0 auto;
}

.projects {
	.flex-block {
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}
	.flex-item {
		@include flexbox();
		@include justify-content(center);
		@include align-items(flex-end);
		@include flex-basis(25%);
		width: 25%;
		min-height: 380px;
		position: relative;
					@include for-size(1320px) {
					width: 50%;
					@include flex-basis(50%);
					}
						@include for-size(768px) {
					width: 100%;
					@include flex-basis(100%);
					min-height: 280px;
					}

		&:before {
			@include transition();
			content: "";
			position: absolute;
			background: linear-gradient( 90deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
			width: 100%;
			height: 100%;
			z-index: 1;
			top: 0;
		}
		&:hover {
			&:before {
				background: rgba(0, 0, 0, .7);
			}
		}
	}
	.text-iproject {
		color: #fff;
		margin: 20px auto 60px;
		text-transform: capitalize;
		z-index: 2;
		span {
			font-size: 27px;
			font-weight: 900;
			margin-right: 15px;
			@include for-size(425px) {
				font-size: 20px;
			}
		}
		i {
			font-size: 20px;
		}
	}
}

.expand {
	padding: 85px 0 125px;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		background: rgba(0, 0, 0, .7);
		width: 100%;
		height: 100%;
		z-index: -1;
		top: 0;
	}
	p {
		font-size: 21px;
		color: #fed247;
		font-weight: 900;
		line-height: 1.66;
	}
	h2 {
		margin-bottom: 35px;
	}
	.container {
		max-width: 1180px;
		z-index: 2;
	}
	.logo-block {
		background: none;
		padding: 0;
		margin-bottom: 65px;
		img {
			width: 185px;
		}
	}
	.logo {
		max-width: 185px;
		display: block;
	}
	form {
		max-width: 560px;
		padding: 50px 40px;
		background: rgba(99, 99, 99, .8);
	}
	.inputs-block {
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		span {
			@include flex-basis(48%);
			width: 48%;
			margin-bottom: 20px;
			input {
				font-size: 17px;
				padding: 15px;
				width: 100%;
			}
		}
	}
	.flex-expand {
		@include flexbox();
		@include justify-content(space-between);
		@include flex-wrap(wrap);
	}
	.expand-form-block {
		margin-top: 20px;
		@include flex-basis(50%);
		width: 50%;
	}
	.expand-text-block {
		@include flex-basis(35%);
		width: 35%;
	}
	.btn {
		margin: 0 auto;
		display: block;
		border: 2px solid #fff;
		min-width: 220px;
		padding: 8px;
		margin-top: 40px;
	}
	input,
	textarea {
		border-radius: 5px;
		color: #000;
	}
	.textarea {
		width: 100%;
		textarea {
			padding: 15px;
			font-size: 17px;
			width: 100%;
			max-height: 135px;
		}
	}
}

::placeholder {
	color: #000;
}

.cover {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}